* {
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: 'roboto',  sans-serif;
}

h1 { font-size: 2.75em;}
h2 { font-size: 2.7em;}
h3 { font-size: 2em;}
p{ font-size: 1.25em;}

button { 
    font-size: 2em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border:1px solid rgba rgb(0, 0, 0, 0.5);
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.5) ;
    color: white;
    background-color: blueviolet;
}

button:hover{
    background-color: rgb(102, 39, 161);
}

.container{
    max-width: 1400px;
    margin: auto;    
}

header {
    background-color: rgb(245, 245, 245);
}

header .logo {
    margin:0;
    padding: 25px 30px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    
}

header.container {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

header nav {

    display: flex;
    flex-flow: row; 
    background-color: rgb(235, 230, 225);
    text-align: center;
}
.item {
    flex: 1 1 auto;  
  }
  
  @media (max-width: 750px) {
    header nav {
      /* si es muy angosta, uno debajo del otro */
      flex-flow: column;
        
    }
  }

  .rojo:hover {
    background-color: red;
  }
  .verde:hover {
    background-color: green;
  }
  .azul:hover {
    background-color: blue;
  }

header a {
    padding: 5px  ;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 30px;
}


 
.itemrojo {
    background-color: aqua ;
}
#freelancer {
    display: flex;
    align-items:center ;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
     ,url(media/prog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}